<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos</title>
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/pages.css">
</head>

<body>
    <!-- Header Component -->
    <header class="header system-header-new">
        <div class="header__content header-top">
            <div class="header__brand office-info">
                <div class="logo-system-new">
                    <div class="logo-image">
                        <a href="../index.html" class="logo-image__link">
                            <img src="/ui/logo.png" alt="JurisFlow" class="logo-img"
                                onerror="this.onerror=null; this.src='/ui/logo.svg'" />
                        </a>
                    </div>
                    <span>JurisFlow</span>
                </div>
                <div class="office-details">
                    <h2 id="officeName">Escritório</h2>
                    <p>Plataforma de Orquestração Jurídica</p>
                </div>
            </div>

            <div class="header__actions user-actions">
                <div class="user-info">
                    <i class="fas fa-user-circle"></i>
                    <span id="userName">Usuário</span>
                </div>
                <button class="btn btn--danger btn-logout" onclick="AuthService.logout()">
                    <i class="fas fa-sign-out-alt"></i>
                    Sair
                </button>
            </div>
        </div>
    </header>

    <main class="principal">
        <section class="principal__container">
            <div class="principal__container__conteudo">
                <h2 class="principal__container-titulo">Documentos</h2>
                <input type="text" class="busca-documentos">
                <div class="principal__container__corpo-documentos">
                    <div class="checkbox__container">
                        <input type="checkbox" class="" id="check">
                    </div>
                </div>
            </div>

        </section>
    </main>

</body>

</html>