/* ===== IMPORTS ===== */
@import url('./css/base.css');
@import url('./css/components.css');
@import url('./css/layout.css');
@import url('./css/pages.css');
@import url('./components/documentos.css');

:root {
    --cor-1: #0F172A;
    --cor-2: #1F283C;
    --cor-3: #fff;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    width: 100%;
}

.checkbox-add:checked~.overlay {
    display: block;
}

.add-doc__form {
    display: none;
}

.checkbox-add:checked~.add-doc__form {
    display: block;
    background-color: var(--cor-1);
    border: 2px solid var(--cor-3);
    border-radius: 10px;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 9999;
    animation: fadeSlideIn 0.3s ease forwards;
    overflow: hidden;
}

.add-doc__form-container {
    background: var(--cor-1);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
    border: 2px solid var(--cor-2);
}